<h1>Spooky Houses in {{neighborhood.name}}</h1>
<br>
<br>
<h2>
{{#each neighborhood.houses as |house|}}
    {{#link-to 'house' house}}{{house.description}} | {{house.rating}}<img src="/images/candy-corn.png " height="38">s{{/link-to}}<br>
{{/each}}
</h2>
