<h2>Spooky Houses in {{neighborhood.name}}</h2>
<br>

{{#each neighborhood.houses as |house|}}
    <h3>{{#link-to 'house' house}}{{house.description}} | rating:{{house.rating}}{{/link-to}}</h3>
{{/each}}
