body {
  color: #011f4b;
  /*background: url("/images/.jpg") center top no-repeat;
  background-size: cover;*/
}

.home-page img{
   text-align: center;
}

a {
  color: #011f4b;
}

.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  color: #011f4b;
}

h1 {
  font-size: 50px;
  color: orange;
}

.navbar {
  font-size: 2em;
}

h2 {
  display: inline;
  font-size: 3.5em;
}

.jumbotron a {
  color: #011f4b;
}

a:hover {
  color: orange;
  text-decoration: none;
}

#btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
  line-height: 2.00;
  border-radius: 30px;
  background-color: orange;
  color: white;
}
.activity-img {
  padding: 10px;
  height: 130px;
  width: 170px;
}
.navbar-brand {
  font-size: 2em;
}

.navbar-nav {
  font-size: .8em;
}
