body {
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color: #1e1f23;
}

a {
  color: white;
}

.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  color: #1e1f23;
}

h1 {
  font-size: 50px;
  font-family: 'Aclonica', sans-serif;
  color: orange;
}

.navbar {
  font-size: 2em;
}

h2 {
  display: inline;
  font-size: 3.5em;
}

h3 {
  color: white;

}

.jumbotron a {
  color: #1e1f23;
}

a:hover {
  color: orange;
  text-decoration: none;
}

.form-group {
  color: orange;
}

label {
  color: orange;
}

#btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
  line-height: 2.00;
  border-radius: 30px;
  background-color: orange;
  color: white;
}

.img-round, .img-round img {
  width: 400px;
  height: 400px;
  -webkit-border-radius: 300px; /* Saf3+, Chrome */
  border-radius: 300px; /* Opera 10.5, IE 9 */
  -moz-border-radius: 300px;  Disabled for FF1+
}

.map-display {
  border-radius: 50%;
  width: 400px;
  height: 400px;

}
.navbar-brand {
  font-size: 2em;
}

.navbar-nav {
  font-size: .8em;
}

#monster {
  height: 60px;
}


.sub-heading
{
  color: black;
}
