.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  color: #011f4b;
}

h2 {
  display: inline;
}

.jumbotron a {
  color: #011f4b;
}

a:hover {
  color: orange;
  text-decoration: none;
}

#btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
  line-height: 2.00;
  border-radius: 30px;
  background-color: orange;
  color: white;
}
.activity-img {
  padding: 10px;
  height: 130px;
  width: 170px;
}
