{{outlet}}
<header class = "jumbotron">
  <h1><a href="activities">Activities<img src="/images/ghost2.jpg" alt="ghost" style="width:80px;height:80px;"></a></h1>
  <h2><a href="kids">Kids </a> | </h2>
  <h2> <a href="adults"> 21 and Over</a></h2>
</header>


<h3>Choose by Category</h3>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    {{#each model as |category| }}
    <li style="padding: 5px; text-align: center;">{{#link-to "category" category}}{{category.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</nav>

{{new-category save="save"}}
