{{outlet}}
<header class = "jumbotron">
  <img src="/images/ghost2" alt="ghost"/>
  <h1>Activities</h1>
  <h2><a href="kids">Kids </a> | </h2>
  <h2> <a href="adults"> 21 and Over</a></h2>
</header>



<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    {{#each model as |category| }}
    <li style="padding: 5px; text-align: center;">{{#link-to "category" category}}{{category.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</nav>

{{new-category save="save"}}
