<div class= "container">
  <h1>Eeek!</h1>
  <h3> {{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'trick-or-treat'}}Trick or Treating{{/link-to}} | <a href="/activities">Activities</a></h3>
  {{outlet}}
</div>
