
<header class = "jumbotron">
  <h1>Here's the Spook!</h1>
  <h2><a href="kids">Hold Up</a> | </h2>
  <h2> <a href="adults">Wait a Minute</a></h2>
</header>
{{neighborhood-detail neighborhood=model}}
{{new-house saveNewHouse='saveNewHouse' neighborhood=model}}
