
<header class = "jumbotron">
  <h1>Spooky Spots</h1>
</header>
<center>
{{neighborhood-detail neighborhood=model}}
<center>
{{new-house saveNewHouse='saveNewHouse' neighborhood=model}}
</center>
</center>
