{{outlet}}
<header class = "jumbotron">
    <h1>Haunted Hoods</h1>
  <p><img src="/images/neighborhood-tree.png" alt="spooky trees"/> <img src="/images/neighborhood-houses1.png" alt="neighborhood houses"/> <img src="/images/bats.png" alt="bats" height="20px"/></p> <img src="/images/monster2.png" alt="Darth Vader" height="40px"/> <img src="/images/dv.png" alt="a round monster" height="40px"/> <img src="/images/happy-monster.png" alt="a happy monster" height="40px"/>

</header>
<!-- here we want a list of neighborhoods -->
<h2>Choose your Hood</h2>
{{#each model as |neighborhood|}}
    <h3>{{#link-to 'neighborhood' neighborhood}}{{neighborhood.name}}{{/link-to}}</h3>
{{/each}}

{{new-neighborhood saveNewNeighborhood='saveNewNeighborhood'}}
